@charset "UTF-8";

* {
    font-family: Arial;
    font-size:30px;
    font-style: italic;
}

body {
	color:rgb(255, 255, 255);
}

#container {
	position:absolute;
}

#webglcanvas {
	border:none;
	background-color:#ffffff;
}

#score {
	position:absolute;
	left:20px;
	top:20px;
	color: #8f8829;
	background-color: black;
}

#reset {
	position:absolute;
	left:400px;
	top:20px;
	visibility: hidden;
}
